.random-post {
	background-color: $color-dark-2;
	.random-post-item{
		overflow: hidden;
		margin: 0 3px;
		.post__item-right{
			padding-right: 5px;
			padding-bottom: 0;
			@include mobileL{
				padding-left: 19px;
			};
		}
		.post__item-left{
			padding-left: 5px;
			padding-bottom: 0;
			@include mobileL{
				padding-left: 19px;
			};
		}
		.post__item{
			// background-color: $color-dark-1;
			// margin: 0 4px;
			// padding: 0;
			overflow: hidden;
			a{
				text-transform: capitalize;
				font-size: 20px;
				line-height: 26px;
				color: $color-light-0;
				overflow: hidden;
				@include mobileL{
					font-size: 14px;
					line-height: 16px;
				}
				&:hover{
					color: $color-accent-light;
				}
				.random-content{
					padding: 0 25px 20px;
					@include tabletL{
						padding-bottom: 0;
						padding-left: 30px;
					};
					@include mobileL{
						padding: 10px;
					};
					h3{
						text-transform: capitalize;
						font-weght: 600;
						letter-spacing: -0.001em;
						@include mobileL{
							padding: 5px 0px 0 ;
						};
					}
					p{
						padding: 12px 0 20px;
						color: $color-accent-dark;
						font-weight: 700;
						font-size: 13px;
						text-transform: capitalize;
						@include mobileL{
							font-size: 12px;
						};
					}
					span{
						color: $color-light-2;
						font-weight: 300;
						&:before{
							content: "-";
							color: $color-light-2;
						}
					}
				}
			}
		}
	}
	.random-post-item.random-post-item-bt{
		margin: 0px;
		padding: 20px 20px 0 20px;	
		@include mobileL{
			padding: 10px 3px 0 10px;
		}
		.post__item{
			background-color: transparent;
			a{
				font-size: 17px;
				@include mobileL{
					font-size: 14px;
				}
				.random-content{
					padding-left: 0;	
					background-color: transparent;
					@include mobileL{
						padding: 0px 10px 10px;
					}				
					h3{
						padding:0;
						@include mobileL{
							padding: 10px 0;
						}
					}
					p{
						padding:0 0 20px 0px;
						@include mobileL{
							padding: 0;
						}
					}
				}
			}
			
		}			
	}
}	
