
// COLOR
$color__body:  #262e40;
$bgr-top:#8c0014;
$bgr-midium:#790014;


// Links
$color__link: #fff;
$color__link-visited: #0073aa;
$color__link-hover: #ffb174;

.hover-blue{
	color: #00bad8;
}
.time-style{
	font-size: 12px;
	color: #aaa;
	padding-top: 5px;
}
.border-bottom{
	border-bottom: 1px solid #eee;
	padding-bottom: 23px;
}

.author{
	font-size: 14px;
	font-weight: 700;
	color: #00bad8;
}
.date, .view{
	color: #aaa;
}

.active{
	color: #1af0f1;
}
.pdl-0{
	padding-left: 0 !important;
}
