.header-top{
	background-color:$bgr-top;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	padding: 10px 0;
	@include laptop {
	    font-size: 12px;
	}
	@include tabletL {
	    font-size: 11px;
	}
	.repon-head{
		display: flex;
		align-items: center;
		@include tablet {
		    display: flex;
	        font-size: 14px;  
		}
		@include mobileL {
		    font-size: 10px;
		}
		.repon-logo-head{
			align-items: center;
			display: flex;
			@include tablet {
               
			}
		}
		.repon-menu-head{
			@include laptop {
			   
			}
			@include tablet {
			    display: flex;
	            align-items: center;
	           
			}
			.menu-header-top{
				@include tablet {
				    margin-left: auto;
				    justify-content: space-around;
				}
				ul{
					display: flex;
					justify-content: space-around;
					li{
						// padding: 0 15px;
						@include tablet {
						    padding: 0 25px;
						}
						@include mobileS {
						    padding: 0 8px;
						}
						@include mobileL {
						    padding: 0 10px;
						}
						
					}
				}
			}
		}
		.repon-search-head{
			display: flex;
			align-items: center;
			.search-top {
			    display: block;
			    width: 100%;
				@include tabletL {
					display: block;
				    padding: 10px 5px 0 21px;
				}
				@include mobileL {
				    display: none;
				    padding: 10px 5px 0 11px;
				}
			}
		}
	}	
}
/* =============header-midium================== */
.header-midium{
	background-color: $bgr-midium;
	font-size: 13px;
	font-weight: 300;
	text-transform: capitalize;
	display: block;
	@include laptop {
	    font-size: 11px;
	}
	@include tablet {
	    display: none;
	}
	@include mobileL {
	    font-size: 10px;
	}
	.menu-midium-top{
		display: flex;
		ul{
			display: flex;
			@include mobileL {
			    justify-content: center;
			}
			li{
				padding:15px;
				i{
					padding-right: 5px;
					@include mobileL {
					    padding-right: 2px;
					}
				}	
			}
		}
		.event{
			display: flex;
			align-items: center;
			padding-left: 30px;
			color: $color-light-2;
			@include mobileL {
			    display: none;
			}
			i{
				font-size: 20px;
				padding-right: 5px;
			}
		}
	}
}
.menu-mobile {
    display: none;
    @include mobileL {
	    display: block;
        z-index: 8;
        font-size: 15px;
        text-align: center;
        color: #39F1E9;
        background-color: #262e40;
        cursor: pointer;
	}
}