.main-content{
	background-color: #f7f7f7; 
	.main-content-section-0{
			padding: 15px 0;
			&:before{
				content: "";
				width: 320px;
				height: 90px;
				display: block;
				margin: auto;
				background-color: #aaa;
				opacity: 0.2;
			}
		}
		@import 'main-content-top.scss';
		@import 'main-content-midium.scss';
	}
