	.main-content-midium{
		background-color: #eee;
		.section-3 {
			overflow: hidden;
			background-color: #eeeeee;
			.section3c4{
				padding: 35px 25px 0px 35px;
				.section3c4-body{
					margin-top: 20px;
					background-color: #fff;
					padding:0 12px;
					border-top: 6px solid #000;
					line-height: 1.25;
					padding-bottom: 50px;
					h3{
						border-bottom: 1px solid #eee;
						padding: 15px 0;
						margin-bottom: 12px;
						a{
							color: #000;
						}
					}
					.all-section3c4-body{
						padding: 14px 25px;
						img{
							height: 70px;
						}
						.content-section3c4-body{

							.cd-title{
								color: #000;
								font-weight: 700;
								font-size: 15px;
								&:hover{
									@extend .hover-blue;
								};
							}
							.cd-tag, .cd-info{
								font-size: 14px;
								color: #aaa;
							}
						}
					}
				}
			}
			.section3c8-bg{	
				.section3c8{
					background-color: #fff;
					padding: 25px;
					color: #000;
					.section3c8-top {	
						padding-bottom: 30px;
						h3{
							padding-bottom: 15px;
							border-bottom: 1px solid #eee;
							color: #000;
						}
						.ch-content{
							padding:0 15px;
							a{	
								font-size: 18px;
								h4{
									font-weight: 700;
									text-transform: initial;
									padding: 15px 0;
									color: #000;
									&:hover{
										color: #00bad8;
									}
								}
								.avatar-upper {
								    border-radius: 50%;
								    border: 2px solid #6a55fb;
								}
								.upper{
									border-radius: 5px;
									padding:15px;
									background-color: #eff1f3;
									.author{
										font-size: 14px;
										font-weight: 700;
										color: #00bad8;
										span{
											color: #aaa;
											font-weight: 500;
											padding-left: 10px;
											font-size: 13px;
										}
									}
									p{
										font-size: 14px;
										padding-top: 10px;
										color: #262e40;
									}
								}
							}
						}	
					}
					.section3c8__news{
						padding-bottom: 30px;
						.tt{
							padding:15px 0;
							border-bottom: 1px solid #eee;
							z-index: 3;
						}
						a{
							position: relative;
							display: block;
							padding: 15px 0 35px;
							h3{
								text-transform: lowercase;
								font-size: 20px;
								font-weight: 700;
								padding-bottom: 10px;
								color: #000;
							}
							p{
								font-size: 14px;
								line-height: 1.25;
								color: #262e40;
								img{	
									width: 8%;
									border-radius: 50%;
								}
							}
							p:nth-child(3){
								padding-top: 15px;
								span{
									font-size: 13px;
								}

							}
							&:before{
								content: "";
								color: #eee;
								width: 100%;
								height: 1px;
								background-color: #eee;
								position: absolute;
								bottom: 0px;

							}

						}	

					}	
				}
			}			
		} /* section-3 */
		.section-4{
			padding-top:50px;
			background-color: #eeeeee; 
			.section4c3{
				background-color: #fff;
				border-top: 5px solid #121821 ;
				padding-bottom: 25px;
				padding:10px 13px;
				margin: 0 0 0 22px;
				.section4c3-talk{
					h3{
						padding: 3px 0 15px;
						border-bottom: 1px solid #eee;
						margin-bottom: 10px;
					}
					.nd-section4c3-talk{
						color: #000;
						font-weight: 700;
						font-size: 15px;
						line-height: 1.6;
						padding-top: 5px;
						&:hover{
							@extend .hover-blue;
						}
					}
				}	
				.section4c3-talkngay{
					background-color: #192433;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 13px;
					display: flex;
					justify-content: center;
					padding: 5px 0;
					letter-spacing: -0.05em;
					margin: 18px 0 3px;
					span{
						color: #36a11b;
						i{
							padding: 0 4px;
						}

					}
				}
			}
			.section4c8{
				background-color: hsla(222,25%,20%,1);
				.tabs{
					background-color: hsl(216,31%,10%);
					font-size: 15px;
					font-weight: 700;
					li{
						span{
							padding: 10px;
						}
						
					}
					li.is-active{
						a{
							color: hsla(180,100%,55%,1);
							border-bottom-color: hsla(180,100%,55%,1);
						}
					} 
				}
				.tab-content {
				    padding: 40px 10px;
				    h3{
				    	font-size: 13px;
				    	text-transform: lowercase;
				    	padding: 10px 5px;
				    	color: #aaa;
				    }
				    .item{
				    	background-color: hsl(214,32%,12%);
				    	padding-bottom: 10px;
				    	width: 100%;
				    	.author{
				    		font-size: 12px;
				    		padding-left: 5px;
				    	}
				    	.view{

				    		font-size: 11px;
				    	}
				    }
				   
				}
			}
		}
		.section-5{
			.section5c9-trending{
				img{
					width: 100%;
					height: auto;
				}
				h3{
					@extend .border-bottom;
					padding-bottom: 20px;
				}
				background-color: #fff;
				padding: 20px 25px;
				.trending{
					margin-top: 13px;
					background-color: #192433;
					a{
						display: block;
						h4{					
							z-index: 12;
						    background-color: #2d4e7b;
						    width: 90%;
						    height: 43px;
						    text-align: center;
						    transform: translateY(-60%);
						    font-weight: 700;
						    display: flex;
						    justify-content: center;
						    align-items: center;
						    margin: auto;
						    color: #fff;
						}
					}
					.list-comment{
						padding: 15px;
						li{
							border-bottom: 0.5px solid #aaa;
							padding: 15px 0;
							a{
								font-size: 13px;
								line-height: 1.5;
								letter-spacing: 0.05em;
								color: #aaa;
								&:hover{
									color: #1afff8;
								}
							}
						}
						li:first-child{
							font-weight: 700;
							a{
								color: #eee;
								&:hover{
									color: #1afff8;
								}
							}
						};

					}
					
				}
			}
		}
		.section-6{
			background-color: #192433; 
			margin: 10px 0px 10px 25px;
			h3{
			 	padding: 8px;
			 	color: #1affff;
			 	background-color: #1a1a1a;
			}
			.trending-section {
				padding:15px;
			    .trending-item{
			    	position: relative;
			    	.tag-hot{
						position: absolute;
						bottom: 12%;
						left: 5%;
						padding: 5px;
						background-color: red;
						background-image: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%);
						color: #fff;
						font-weight: 700;
						font-size: 20px;
			    	}
			    	img{
			    		width: 100%;
			    	}
			    }
			}

		}
		.section-7{
			margin: 25px ;
			.bay1{
				background-color: #fff;
				border-top: 5px solid #121821 ;
				padding-bottom: 25px;
				padding: 10px 12px 40px 12px;
				h3{
					padding: 3px 0 15px;
					border-bottom: 1px solid #eee;
				}
				.section3c8-top7{
					padding-top: 15px;
					padding-bottom: 23px;
					border-bottom: 1px solid #eee;
					p{
						color: #aaa;
						font-size: 11px;
					}
					.section3c8-top7-category{
						margin-top:0px;
						p{
							color:#000;
							font-size: 13px;
							span{
								color: #7a7a7a;
								font-weight: 700;
								opacity: 0.8;
							}
						}
					}
					.time{
						color: #aaa;
						font-size: 11px;
					}
					.camtay {
					    color: #000;
					    font-weight: 700;
					    font-size: 15px;
					    padding:10px 0;
					    &:hover{
					    	color: #00bad8;
					    }
					}
					.lorem{
						background-color: #eaeaea;
						color: #000;
						font-size: 14px;
						font-weight: 300;
						padding:10px;
						border-radius: 5px;	
					}
				}
				.no-border{
					border:none;
				}
				
			}
			.bay2{
				background-color: #fff;
				width:100%;
				height: 630px;
				display: flex;
				justify-content: center;
				align-items: center;
				.no-content7{
					background-color: #e6e6e6;
					width:90%;
					height: 600px;
				}
			}
		}
		.section-8{
			padding: 25px 0px 25px 25px;
			overflow: hidden;
			display: block;
			.section8c3{
				.tam1{
					background-color: #fff;
					border-top: 6px solid #121821 ;
					padding: 10px 12px 40px 12px;
					h3{
						padding: 3px 0 15px;
						border-bottom: 1px solid #eee;
					}
					.gamekinhte{
						a{
							p:first-child{
								color: #000;
								font-weight: 700;
								font-size: 15px;
								line-height: 1.25;
								padding-top: 23px;
								&:hover{
									@extend .hover-blue;
								};
								
							}
							p:last-child{
								@extend .time-style;
								@extend .border-bottom;
							}
						}
					}
				}	
			}
		    .section8c9{
                background-color: #fff;
                padding: 25px;
                a{
                    color: #000;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 3;
                    padding-left: 15px;
                }
            }
		} /* section-8 */
		.section-9{
			overflow: hidden;
			display: inline-block;
			width: 100%;
			padding: 35px 0px 35px 35px;
			.section9c4{
				background-color: #fff;
				padding: 15px;
				border-top: 6px solid #121821 ;
				margin-right: 15px;
				font-size: 12px;
				h3{
					border-bottom: 1px solid #eee;
					padding: 3px 0 15px;
					margin-bottom: 10px;
				}
				.content-tt9{
					padding-top: 10px;
					@extend .border-bottom;
					.tt9{
						padding-top: 13px;
						padding-bottom: 15px;

						.tt9-ngay{
						width: 80px;
						height: 25px;
						border-radius: 25px;
						background-image: linear-gradient(-135deg, #1affff 0%, #05c8de 100%);
						text-align: center;
						color: #000;
						line-height: 2.2;
						}
						.tt9-tt{
							color: #000;
							letter-spacing: 0.03em;
							line-height: 1.5;
							padding-top: 13px;
							&:hover{
								@extend .hover-blue;
							};
						}
						.tt9-view{
							color: #aaa;
							line-height: 1.5;
							letter-spacing: 0.02em;
							padding-top: 5px;
						}
					}
				}
			}
			.section9c8{
				.section9c81{
					background-color: #fff;
					margin-left: 10px;
					padding: 25px 35px 45px 25px;
					.section9-date{
						h6{
							@extend .hover-blue;
							font-weight: 700;
							font-size: 15px;						
						}
					}
					.section9-event-economic{
						h6{
							font-weight: 700;
							color: #000;
							&:hover{
								@extend .hover-blue;
							};
						}
						p{
							font-size: 13px;
						}
					}
				}
			}
		} /* section-9 */
	} 