.main-content-top{
		background-color: #151d28;
		.main-content-top-section-1{
			display: flex;
			img{
				width: 100%;
				height: auto;
			}
		}
		.section-2 {
			background-color: #192433;
			.banner{
				margin: 0 3px;
				.technology1{
					margin: 0 4px;
				    background-color: #151d28;
				    padding: 0;
					a{
						text-transform: capitalize;
						font-size: 20px;
						line-height: 26px;
						color: #fff;
						&:hover{
							color: #1affff;
						}
						h3{
							text-transform: capitalize;
							font-weght: 600;
							letter-spacing: -0.001em;
							padding:0 0 0 25px;
						}
						p{
							padding:0 0 20px 25px;
							color: #05bad6;
							font-weight: 700;
							font-size: 13px;
							margin-top: 12px;
							text-transform: capitalize;
						}
						span{
							color: #aaa;
							font-weight: 300;
							&:before{
								content: "-";
								color: #aaa;
							};
						}
					}
				}
			}
			.banner.banner-bt{
				margin: 0px;
				padding: 20px 20px 0 20px;	
				.technology1{
					margin: 10px;
					background-color: transparent;
					a{
						font-size: 17px;
						h3{
							padding:0;
						}
						p{
							padding:0 0 20px 0px;
						}
					}
					
				}			
			}
	}	
}