.main-content{
	background-color: #f7f7f7; 
	.empty-space{
		padding: 15px 0;
		@include tablet {
		    display: none;
		}
		&:before{
			content: "";
			width: 320px;
			height: 90px;
			display: block;
			margin: auto;
			background-color: $color-light-2;
			opacity: 0.2;
		}
	}
	@import "banner/banner";
	@import "page-wrapper/page-wrapper";
}
