$buttonConfig: 'save' 50px, 'cancel' 50px, 'help' 100px;

@each $tuple in $buttonConfig {
    .button-#{nth($tuple, 1)} {
        width: nth($tuple, 2);
    }
			   /*  .button-save {
   				  		width: 50px;
   					}
   					.button-cancel {
   				 		 width: 50px;
   					}
   					.button-help {
   				  		width: 100px;
   					} 
   					đây là css output*/
} 
.btn-view-all{
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 1px 4px hsla(0,0%,0%,0.3);
	width: 180px;
	height: 48px;
	line-height: 1.25;
	background-color: #151d28;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	margin: auto;
	margin-top: 5px;
	transform: translateY(-60%);
	&:hover{
		@extend .hover-blue;
	};	
}

   