.owl-dots{
	display: none;
}
.owl-nav{
	button.owl-prev, button.owl-next{
		position: absolute !important;
	    bottom: 50% !important;
	    color: white !important;
	    width: 20px !important;
	    border: none !important;
	    height: 50px !important;
	    background-color: rgba(255, 255, 255,.3) !important;
	    z-index: 2 !important;
	    font-size: 20px !important;
	}
	button.owl-next{
	    right: 0;
	}
	button.owl-prev{
	    left: 0;
	}
}
