/* mixin */
$res_320 : "only screen and (max-width: 320px)";
$res_375 : "only screen and (max-width: 375px)";
$res_425 : "only screen and (max-width: 425px)";
$res_768 : "only screen and (max-width: 768px)";
$res_992 : "only screen and (max-width: 992px)";
$res_1024 : "only screen and (max-width: 1024px)";
 
@mixin responsive_320() {
    @media #{$res_320} {
        @content;
    }
}
@mixin responsive_375() {
    @media #{$res_375} {
        @content;
    }
}
@mixin responsive_425() {
    @media #{$res_425} {
        @content;
    }
}
@mixin responsive_768() {
    @media #{$res_768} {
        @content;
    }
}
@mixin responsive_992() {
    @media #{$res_992} {
        @content;
    }
}
@mixin responsive_1024() {
    @media #{$res_1024} {
        @content;
    }
}

/* repomsive */

div{
    overflow: hidden;
}
 
@include responsive_1024{
    .header-top{
        font-size: 12px;
    }
    .header-midium{
        font-size: 11px;
    }
}
 
@include responsive_992{
    .header-top{
        font-size: 11px;
    }
    .search-top {
        padding: 5px;
    }
}

@include responsive_768{
   .repon-head{
        display: flex;
        font-size: 14px;
        padding-top: 15px;
        .repon-menu-head{
            display: flex;
            align-items: center;
            .menu-header-top{
                margin-left: auto;
                ul{             
                    li{
                        padding:0 20px;
                    }
                }
            }
        }   
    }
    .header-midium{
        display: none;
    } 
    .main-content{
        .main-content-section-0{
            display: none;
        }
        .page-wrapper{
            .featured{
                .featured-sidebar{
                    .featured-sidebar-body{
                        .featured-sidebar-item{
                            img{
                                height: auto;
                            }
                        }
                    }
                }
            }


            .help-question {
                display: none;
            } 
            .history{

                .history-info{
                    padding: 20px;
                    font-size: 14px;
                }
                .history-main{
                    .event-economic{
                        margin-left: 0px;
                    }
                }
            }
        } 
    }
}
 
@include responsive_425{
    h3{
        font-size: 14px;
    }
    .header-top{
        .repon-head{
            font-size: 10px;
            padding-top: 5px;
            .is-1.is-3-mobile{
                padding-bottom: 0;
            }
            .is-4.is-9-mobile.repon-menu-head{
                display: block;
                padding-bottom: 0;
            }
            .search-top {
                display: none;
            }
        }
    }
    .header-midium{
        font-size: 10px;
        .menu-midium-top{
            display: flex;
            justify-content: center;
            ul{
                li{
                    padding: 15px;
                    i{
                        padding-right: 2px;
                    }   
                }
            }
            .event{
                display: none;
            }
        }
    }
    .menu-mobile {
        display: block;
        z-index: 8;
        font-size: 15px;
        text-align: center;
        color: #39F1E9;
        background-color: #262e40;
        cursor: pointer;
    }

    /* main-content */
    .main-content{
        .banner{
            .banner-img{
                display: none;
            }
            .banner-newsletter {
                .banner-newsletter-item{
                    .newsletter-item__technology{
                        a{
                            font-size: 14px;
                            line-height: 16px;
                            h3{
                                padding: 5px 20px 0;
                            }
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                }
                .banner-newsletter-item.banner-newsletter-item-bt{
                    margin: 0px;
                    padding: 20px 5px 0 5px;  
                    .newsletter-item__technology{
                        margin: 10px;
                        background-color: transparent;
                        a{
                            font-size: 14px;
                            h3{
                                padding: 5px 15px 0;
                            }
                            p{
                                padding: 0 15px 20px;
                            }
                        }
                        
                    }           
                }
            }
        } 
        .page-wrapper{
            .featured {
                .featured-sidebar{
                   padding: 35px 15px 0px 15px;
                }
                .featured-main{
                   margin: 0 15px;
                   .featured-main-box{
                        padding: 15px;
                        .box-help { 
                            padding-bottom: 10px;
                            .box-help-content{
                                padding:0 15px;
                                a{  
                                    font-size: 14px;
                                    .upper{
                                        border-radius: 5px;
                                        padding:15px;
                                        background-color: #eff1f3;
                                        .author{
                                            font-size: 12px;
                                            font-weight: 700;
                                            color: #00bad8;
                                            span{
                                                padding-left: 5px;
                                                font-size: 11px;
                                            }
                                        }
                                        p{
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }   
                        }
                        .featured-news{
                            .column.is-4{
                                padding: 15px 0;
                                .featured-news-tt{
                                    padding:15px 0;
                                    border-bottom: 1px solid #eee;
                                    z-index: 3;

                                }
                            }
                            
                            a{
                                padding: 15px 0 35px;
                                h3{
                                    font-size: 13px;
                                }
                                p{
                                    font-size: 12px;
                                }
                                p:nth-child(3){
                                padding-top: 5px;
                                span{
                                    font-size: 11px;
                                }

                            }
                            }   

                        } 
                   }
                }
            }
            .tab-slider{
                padding: 0;
                .tab-slider__discussion{
                    margin: 3px;
                }
            }
            .wrap-item{
                 margin: 5px 3px;
            }
            .tag-trending{
                margin: 5px 3px;
            }
            .economic{
                padding: 5px 3px;
                .economic-main{
                    background-color: #fff;
                    a{
                        color: #000;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 3;
                        padding-left: 15px;
                    }
                }
            }
            .history{
                padding:  10px 3px;
                .history-info{
                    padding-left: 0px;
                }
                .history-main{
                    .event-economic{
                        margin: 10px;
                        padding: 10px;
                    }
                }
            }
        }
    }
     /* footer */
    .footer-section{ 
        .top-footer{
            ul{
               display: block;
               li{
                list-style: none;
                padding: 0;
                text-align: center;
                a{
                    font-size: 13px;
                }
                
               }
            }

        }
    }
}

@include responsive_375{
   .repon-head{
        .repon-menu-head{
            .menu-header-top{
                ul{             
                    li{
                        padding:0px;
                    }
                }
            }
        }   
    }
    .history{
        .history-info-discription{
            font-size: 12px;
        }
        .history-info-view{
            font-size: 11px;
        }
    }
}

@include responsive_320{
 
}
 

