/* mixin reponsive*/
$mobileS-width: 320px;
$mobileL-width: 480px;
$tablet-width: 768px;
$tabletL-width: 991px;
$laptop-width: 1024px;

@mixin mobileS {
  @media (max-width: #{$mobileS-width}) {
    @content;
  }
}
@mixin mobileL {
  @media (max-width: #{$mobileL-width}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin tabletL {
  @media (max-width: #{$tabletL-width}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}

// mixin css beauty
@mixin transition($elem: all) {
  transition: $elem .3s ease;// cách dùng:box{ @include transition; } 
}
