@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Layout
# site
# vendors
# Media
--------------------------------------------------------------*/
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.hover-blue, .btn-view-all:hover, .main-content .page-wrapper .economic .economic-sidebar .economic-item .item-game a p:first-child:hover, .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body .featured-sidebar-item .item-content .cd-title:hover, .main-content .page-wrapper .history .history-sidebar .history-sidebar-item .history-info .history-info-discription:hover, .main-content .page-wrapper .history .history-main .event-main-history .event-info h6:hover, .main-content .page-wrapper .tab-slider .tab-slider__discussion .discussion-item .item-description:hover {
  color: #1affff; }

.time-style, .main-content .page-wrapper .economic .economic-sidebar .economic-item .item-game a p:last-child {
  font-size: 12px;
  color: #ababab;
  padding-top: 5px; }

.border-bottom, .main-content .page-wrapper .economic .economic-sidebar .economic-item .item-game a p:last-child, .main-content .page-wrapper .history .history-sidebar .history-sidebar-item, .main-content .page-wrapper .trending .trending-main-wrap h3 {
  border-bottom: 1px solid #ababab;
  padding-bottom: 23px; }

.author {
  font-size: 14px;
  font-weight: 700;
  color: #00bad6; }

.date, .view {
  color: #ababab; }

.active {
  color: #1affff; }

.pdl-0 {
  padding-left: 0 !important; }

/* mixins */
/* mixin reponsive*/
/* Elements */
body {
  font-family: 'Roboto',sans-serif;
  color: #262e40;
  line-height: 1.25;
  background-color: #f7f7f7; }

div {
  overflow: hidden; }

a {
  color: #fff; }

a:hover,
a:active {
  color: #ffb174;
  outline: 0;
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: underline; }

h3 {
  text-transform: uppercase;
  padding-bottom: 24px;
  font-weight: 700; }

img {
  height: auto;
  max-width: 100%;
  position: relative; }

figure {
  margin: 0; }

/* Forms */
.button-save {
  width: 50px; }

/*  .button-save {
   				  		width: 50px;
   					}
   					.button-cancel {
   				 		 width: 50px;
   					}
   					.button-help {
   				  		width: 100px;
   					} 
   					đây là css output*/
.button-cancel {
  width: 50px; }

/*  .button-save {
   				  		width: 50px;
   					}
   					.button-cancel {
   				 		 width: 50px;
   					}
   					.button-help {
   				  		width: 100px;
   					} 
   					đây là css output*/
.button-help {
  width: 100px; }

/*  .button-save {
   				  		width: 50px;
   					}
   					.button-cancel {
   				 		 width: 50px;
   					}
   					.button-help {
   				  		width: 100px;
   					} 
   					đây là css output*/
.btn-view-all {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  width: 180px;
  height: 48px;
  line-height: 1.25;
  background-color: #151d28;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin: auto;
  margin-top: 5px;
  transform: translateY(-60%); }

.owl-dots {
  display: none; }

.owl-nav button.owl-prev, .owl-nav button.owl-next {
  position: absolute !important;
  bottom: 50% !important;
  color: white !important;
  width: 20px !important;
  border: none !important;
  height: 50px !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  z-index: 2 !important;
  font-size: 20px !important; }

.owl-nav button.owl-next {
  right: 0; }

.owl-nav button.owl-prev {
  left: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  -webkit-backface-visibility: hidden; }

input[type="search"] {
  outline: none;
  height: 41px;
  box-shadow: none; }
  input[type="search"]::-webkit-search-decoration {
    display: none; }

textarea {
  box-sizing: border-box;
  outline: none;
  height: 41px;
  box-shadow: none; }

.input.is-medium, .textarea.is-medium {
  font-size: 1rem; }

.no-border {
  border: none !important; }

.before-none:before {
  content: none !important; }

a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #fff; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
    color: #ffb174; }

/* Layout */
/* Content */
/* header */
.header-top {
  background-color: #8c0014;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  display: block;
  padding-top: 5px; }
  @media (min-width: 1024px) {
    .header-top {
      font-size: 12px; } }
  @media (max-width: 991px) {
    .header-top {
      font-size: 11px;
      line-height: 1.5; } }
  @media (max-width: 768px) {
    .header-top .repon-head {
      display: flex;
      font-size: 14px;
      padding-top: 15px; } }
  @media (max-width: 480px) {
    .header-top .repon-head {
      font-size: 10px; } }
  @media (max-width: 768px) {
    .header-top .repon-head .column.is-1.is-3-mobile {
      padding: 0; } }
  @media (min-width: 1024px) {
    .header-top .repon-head .column.is-4.is-9-mobile.repon-menu-head {
      display: block;
      padding-bottom: 0; } }
  @media (max-width: 768px) {
    .header-top .repon-head .column.is-4.is-9-mobile.repon-menu-head {
      display: flex;
      align-items: center;
      padding: 0 10px 0 0; } }
  @media (max-width: 768px) {
    .header-top .repon-head .column.is-4.is-9-mobile.repon-menu-head .menu-header-top {
      margin-left: auto;
      justify-content: space-around; } }
  .header-top .repon-head .column.is-4.is-9-mobile.repon-menu-head .menu-header-top ul {
    display: flex;
    justify-content: space-around; }
    .header-top .repon-head .column.is-4.is-9-mobile.repon-menu-head .menu-header-top ul li {
      padding: 0 15px; }
      @media (max-width: 768px) {
        .header-top .repon-head .column.is-4.is-9-mobile.repon-menu-head .menu-header-top ul li {
          padding: 0 25px; } }
      @media (max-width: 320px) {
        .header-top .repon-head .column.is-4.is-9-mobile.repon-menu-head .menu-header-top ul li {
          padding: 0 8px; } }
      @media (max-width: 480px) {
        .header-top .repon-head .column.is-4.is-9-mobile.repon-menu-head .menu-header-top ul li {
          padding: 0 10px; } }
  .header-top .repon-head .search-top {
    padding: 5px 5px 0 0;
    display: block; }
    @media (max-width: 991px) {
      .header-top .repon-head .search-top {
        padding: 5px; } }
    @media (max-width: 480px) {
      .header-top .repon-head .search-top {
        display: none; } }

/* =============header-midium================== */
.header-midium {
  background-color: #790014;
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
  display: block; }
  @media (min-width: 1024px) {
    .header-midium {
      font-size: 11px; } }
  @media (max-width: 768px) {
    .header-midium {
      display: none; } }
  @media (max-width: 480px) {
    .header-midium {
      font-size: 10px; } }
  .header-midium .menu-midium-top {
    display: flex; }
    .header-midium .menu-midium-top ul {
      display: flex; }
      @media (max-width: 480px) {
        .header-midium .menu-midium-top ul {
          justify-content: center; } }
      .header-midium .menu-midium-top ul li {
        padding: 15px; }
        .header-midium .menu-midium-top ul li i {
          padding-right: 5px; }
          @media (max-width: 480px) {
            .header-midium .menu-midium-top ul li i {
              padding-right: 2px; } }
    .header-midium .menu-midium-top .event {
      display: flex;
      align-items: center;
      padding-left: 30px;
      color: #ababab; }
      @media (max-width: 480px) {
        .header-midium .menu-midium-top .event {
          display: none; } }
      .header-midium .menu-midium-top .event i {
        font-size: 20px;
        padding-right: 5px; }

.menu-mobile {
  display: none; }
  @media (max-width: 480px) {
    .menu-mobile {
      display: block;
      z-index: 8;
      font-size: 15px;
      text-align: center;
      color: #39F1E9;
      background-color: #262e40;
      cursor: pointer; } }

/* main-content*/
.main-content {
  background-color: #f7f7f7; }
  .main-content .empty-space {
    padding: 15px 0; }
    @media (max-width: 768px) {
      .main-content .empty-space {
        display: none; } }
    .main-content .empty-space:before {
      content: "";
      width: 320px;
      height: 90px;
      display: block;
      margin: auto;
      background-color: #ababab;
      opacity: 0.2; }
  .main-content .banner {
    background-color: #192433; }
    .main-content .banner .banner-img {
      display: flex; }
      .main-content .banner .banner-img img {
        width: 100%;
        height: auto; }
      @media (max-width: 480px) {
        .main-content .banner .banner-img {
          display: none; } }
    .main-content .banner .banner-newsletter {
      background-color: #151d28; }
      .main-content .banner .banner-newsletter .banner-newsletter-item {
        margin: 0 3px; }
        .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology {
          margin: 0 4px;
          background-color: #151d28;
          padding: 0; }
          .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology a {
            text-transform: capitalize;
            font-size: 20px;
            line-height: 26px;
            color: white; }
            @media (max-width: 480px) {
              .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology a {
                font-size: 14px;
                line-height: 16px; } }
            .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology a:hover {
              color: #1affff; }
            .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology a h3 {
              text-transform: capitalize;
              font-weght: 600;
              letter-spacing: -0.001em;
              padding: 0 0 0 25px; }
              @media (max-width: 480px) {
                .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology a h3 {
                  padding: 5px 20px 0; } }
            .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology a p {
              padding: 0 0 20px 25px;
              color: #00bad6;
              font-weight: 700;
              font-size: 13px;
              margin-top: 12px;
              text-transform: capitalize; }
              @media (max-width: 480px) {
                .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology a p {
                  font-size: 12px; } }
            .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology a span {
              color: #ababab;
              font-weight: 300; }
              .main-content .banner .banner-newsletter .banner-newsletter-item .newsletter-item__technology a span:before {
                content: "-";
                color: #ababab; }
      .main-content .banner .banner-newsletter .banner-newsletter-item.banner-newsletter-item-bt {
        margin: 0px;
        padding: 20px 20px 0 20px; }
        @media (max-width: 480px) {
          .main-content .banner .banner-newsletter .banner-newsletter-item.banner-newsletter-item-bt {
            padding: 20px 5px 0 5px; } }
        .main-content .banner .banner-newsletter .banner-newsletter-item.banner-newsletter-item-bt .newsletter-item__technology {
          margin: 10px;
          background-color: transparent; }
          .main-content .banner .banner-newsletter .banner-newsletter-item.banner-newsletter-item-bt .newsletter-item__technology a {
            font-size: 17px; }
            @media (max-width: 480px) {
              .main-content .banner .banner-newsletter .banner-newsletter-item.banner-newsletter-item-bt .newsletter-item__technology a {
                font-size: 14px; } }
            .main-content .banner .banner-newsletter .banner-newsletter-item.banner-newsletter-item-bt .newsletter-item__technology a h3 {
              padding: 0; }
              @media (max-width: 480px) {
                .main-content .banner .banner-newsletter .banner-newsletter-item.banner-newsletter-item-bt .newsletter-item__technology a h3 {
                  padding: 5px 15px 0; } }
            .main-content .banner .banner-newsletter .banner-newsletter-item.banner-newsletter-item-bt .newsletter-item__technology a p {
              padding: 0 0 20px 0px; }
              @media (max-width: 480px) {
                .main-content .banner .banner-newsletter .banner-newsletter-item.banner-newsletter-item-bt .newsletter-item__technology a p {
                  padding: 0 15px 20px; } }
  .main-content .page-wrapper {
    background-color: #eee;
    /* economic */
    /* featured */
    /* history */ }
    .main-content .page-wrapper .economic {
      padding: 25px 0px 25px 25px;
      overflow: hidden;
      display: block; }
      @media (max-width: 480px) {
        .main-content .page-wrapper .economic {
          padding: 5px 3px; } }
      .main-content .page-wrapper .economic .economic-sidebar .economic-item {
        background-color: white;
        border-top: 6px solid #121821;
        padding: 10px 12px 40px 12px; }
        .main-content .page-wrapper .economic .economic-sidebar .economic-item h3 {
          padding: 3px 0 15px;
          border-bottom: 1px solid #ababab; }
        .main-content .page-wrapper .economic .economic-sidebar .economic-item .item-game a p:first-child {
          color: #121821;
          font-weight: 700;
          font-size: 15px;
          line-height: 1.25;
          padding-top: 23px; }
      .main-content .page-wrapper .economic .economic-main {
        background-color: white;
        padding: 25px; }
        .main-content .page-wrapper .economic .economic-main a {
          color: #121821;
          font-weight: 700;
          font-size: 14px;
          line-height: 3;
          padding-left: 15px; }
    .main-content .page-wrapper .featured {
      overflow: hidden;
      background-color: #eeeeee; }
      .main-content .page-wrapper .featured .featured-sidebar {
        padding: 35px 25px 0px 35px; }
        @media (max-width: 480px) {
          .main-content .page-wrapper .featured .featured-sidebar {
            padding: 35px 15px 0px 15px; } }
        .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body {
          margin-top: 20px;
          background-color: white;
          padding: 0 12px;
          border-top: 6px solid #121821;
          line-height: 1.25;
          padding-bottom: 50px; }
          .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body h3 {
            border-bottom: 1px solid #ababab;
            padding: 15px 0;
            margin-bottom: 12px; }
            .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body h3 a {
              color: #121821; }
          .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body .featured-sidebar-item {
            padding: 14px 25px; }
            @media (max-width: 768px) {
              .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body .featured-sidebar-item {
                height: auto; } }
            .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body .featured-sidebar-item img {
              height: 70px; }
            .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body .featured-sidebar-item .item-content .cd-title {
              color: #121821;
              font-weight: 700;
              font-size: 15px; }
            .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body .featured-sidebar-item .item-content .cd-tag, .main-content .page-wrapper .featured .featured-sidebar .featured-sidebar-body .featured-sidebar-item .item-content .cd-info {
              font-size: 14px;
              color: #ababab; }
      .main-content .page-wrapper .featured .featured-main .featured-main-box {
        background-color: white;
        padding: 25px;
        color: #121821; }
        @media (max-width: 480px) {
          .main-content .page-wrapper .featured .featured-main .featured-main-box {
            margin: 0 15px; } }
        .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help {
          padding-bottom: 30px; }
          @media (max-width: 480px) {
            .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help {
              padding-bottom: 10px; } }
          .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help h3 {
            padding-bottom: 15px;
            border-bottom: 1px solid #ababab;
            color: #121821; }
          .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content {
            padding: 0 15px; }
            .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a {
              font-size: 18px; }
              @media (max-width: 480px) {
                .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a {
                  font-size: 15px; } }
              .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a h4 {
                font-weight: 700;
                text-transform: initial;
                padding: 15px 0;
                color: #121821; }
                .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a h4:hover {
                  color: #00bad8; }
              .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a .avatar-upper {
                border-radius: 50%;
                border: 2px solid #6a55fb; }
              .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a .upper {
                border-radius: 5px;
                padding: 15px;
                background-color: #eff1f3; }
                .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a .upper .author {
                  font-size: 14px;
                  font-weight: 700;
                  color: #00bad8; }
                  @media (max-width: 480px) {
                    .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a .upper .author {
                      font-size: 12px; } }
                  .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a .upper .author span {
                    color: #e6e6e6;
                    font-weight: 500;
                    padding-left: 10px;
                    font-size: 13px; }
                    @media (max-width: 480px) {
                      .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a .upper .author span {
                        font-size: 11px;
                        padding-left: 5px; } }
                .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a .upper p {
                  font-size: 14px;
                  padding-top: 10px;
                  color: #262e40; }
                  @media (max-width: 480px) {
                    .main-content .page-wrapper .featured .featured-main .featured-main-box .box-help .box-help-content a .upper p {
                      font-size: 12px; } }
        .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news {
          padding-bottom: 30px; }
          @media (max-width: 480px) {
            .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news .column.is-4 {
              padding: 15px 0; } }
          .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news .column.is-4 .featured-news-tt {
            padding: 15px 0;
            border-bottom: 1px solid #ababab;
            z-index: 3; }
          .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a {
            position: relative;
            display: block;
            padding: 15px 0 35px; }
            .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a h3 {
              text-transform: lowercase;
              font-size: 19px;
              font-weight: 700;
              padding-bottom: 10px;
              color: #121821; }
              .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a h3:hover {
                color: #00bad6; }
              @media (max-width: 480px) {
                .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a h3 {
                  font-size: 13px; } }
            .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a p {
              font-size: 14px;
              line-height: 1.25;
              color: #262e40; }
              .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a p img {
                width: 8%;
                border-radius: 50%; }
              @media (max-width: 480px) {
                .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a p {
                  font-size: 12px; } }
            .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a p:nth-child(3) {
              padding-top: 15px; }
              @media (max-width: 480px) {
                .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a p:nth-child(3) {
                  padding-top: 5px; } }
              .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a p:nth-child(3) span {
                font-size: 13px; }
                @media (max-width: 480px) {
                  .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a p:nth-child(3) span {
                    font-size: 11px; } }
            .main-content .page-wrapper .featured .featured-main .featured-main-box .featured-news a:before {
              content: "";
              color: #ababab;
              width: 100%;
              height: 1px;
              background-color: #ababab;
              position: absolute;
              bottom: 0px; }
    .main-content .page-wrapper .help-question {
      margin: 25px; }
      @media (max-width: 768px) {
        .main-content .page-wrapper .help-question {
          display: none; } }
      .main-content .page-wrapper .help-question .question-item {
        background-color: white;
        border-top: 5px solid #121821;
        padding-bottom: 25px;
        padding: 10px 12px 40px 12px; }
        .main-content .page-wrapper .help-question .question-item h3 {
          padding: 3px 0 15px;
          border-bottom: 1px solid #ababab; }
        .main-content .page-wrapper .help-question .question-item .question-item-box {
          padding-top: 15px;
          padding-bottom: 23px;
          border-bottom: 1px solid #ababab; }
          .main-content .page-wrapper .help-question .question-item .question-item-box p {
            color: #e6e6e6;
            font-size: 11px; }
          .main-content .page-wrapper .help-question .question-item .question-item-box .question-item-box-category {
            margin-top: 0px; }
            .main-content .page-wrapper .help-question .question-item .question-item-box .question-item-box-category p {
              color: #121821;
              font-size: 13px; }
              .main-content .page-wrapper .help-question .question-item .question-item-box .question-item-box-category p span {
                color: #7a7a7a;
                font-weight: 700;
                opacity: 0.8; }
          .main-content .page-wrapper .help-question .question-item .question-item-box .time {
            color: #e6e6e6;
            font-size: 11px; }
          .main-content .page-wrapper .help-question .question-item .question-item-box .category-tt {
            color: #121821;
            font-weight: 700;
            font-size: 15px;
            padding: 10px 0; }
            .main-content .page-wrapper .help-question .question-item .question-item-box .category-tt:hover {
              color: #00bad8; }
          .main-content .page-wrapper .help-question .question-item .question-item-box .lorem {
            background-color: #eaeaea;
            color: #121821;
            font-size: 14px;
            font-weight: 300;
            padding: 10px;
            border-radius: 5px; }
        .main-content .page-wrapper .help-question .question-item .no-border {
          border: none; }
      .main-content .page-wrapper .help-question .question-itemm {
        background-color: white;
        width: 100%;
        height: 630px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .main-content .page-wrapper .help-question .question-itemm .no-content {
          background-color: #e6e6e6;
          width: 90%;
          height: 600px; }
    .main-content .page-wrapper .history {
      overflow: hidden;
      display: inline-block;
      width: 100%;
      padding: 35px 0px 35px 35px; }
      @media (max-width: 480px) {
        .main-content .page-wrapper .history {
          padding: 10px 3px; } }
      .main-content .page-wrapper .history .history-sidebar {
        background-color: white;
        padding: 15px;
        border-top: 6px solid #121821;
        margin-right: 15px;
        font-size: 12px; }
        .main-content .page-wrapper .history .history-sidebar h3 {
          border-bottom: 1px solid #ababab;
          padding: 3px 0 15px;
          margin-bottom: 10px; }
        .main-content .page-wrapper .history .history-sidebar .history-sidebar-item {
          padding-top: 10px; }
          .main-content .page-wrapper .history .history-sidebar .history-sidebar-item .history-info {
            padding-top: 13px;
            padding-bottom: 15px; }
            @media (max-width: 768px) {
              .main-content .page-wrapper .history .history-sidebar .history-sidebar-item .history-info {
                padding: 20px;
                font-size: 14px; } }
            @media (max-width: 480px) {
              .main-content .page-wrapper .history .history-sidebar .history-sidebar-item .history-info {
                padding-left: 0; } }
            .main-content .page-wrapper .history .history-sidebar .history-sidebar-item .history-info .history-info-date {
              width: 80px;
              height: 25px;
              border-radius: 25px;
              background-image: linear-gradient(-135deg, #1affff 0%, #05c8de 100%);
              text-align: center;
              color: #121821;
              line-height: 2.2; }
            .main-content .page-wrapper .history .history-sidebar .history-sidebar-item .history-info .history-info-discription {
              color: #121821;
              letter-spacing: 0.03em;
              line-height: 1.5;
              padding-top: 13px; }
              @media (max-width: 320px) {
                .main-content .page-wrapper .history .history-sidebar .history-sidebar-item .history-info .history-info-discription {
                  font-size: 12px; } }
            .main-content .page-wrapper .history .history-sidebar .history-sidebar-item .history-info .history-info-view {
              color: #e6e6e6;
              line-height: 1.5;
              letter-spacing: 0.02em;
              padding-top: 5px; }
              @media (max-width: 320px) {
                .main-content .page-wrapper .history .history-sidebar .history-sidebar-item .history-info .history-info-view {
                  font-size: 11px; } }
      .main-content .page-wrapper .history .history-main .event-main-history {
        background-color: white;
        margin-left: 10px;
        padding: 25px 35px 45px 25px; }
        @media (max-width: 768px) {
          .main-content .page-wrapper .history .history-main .event-main-history {
            margin-left: 0; } }
        @media (max-width: 480px) {
          .main-content .page-wrapper .history .history-main .event-main-history {
            margin: 10px;
            padding: 10px 10px 40px; } }
        .main-content .page-wrapper .history .history-main .event-main-history .event-date h6 {
          color: #00bad6;
          font-weight: 700;
          font-size: 15px; }
        .main-content .page-wrapper .history .history-main .event-main-history .event-info h6 {
          font-weight: 700;
          color: #121821; }
        .main-content .page-wrapper .history .history-main .event-main-history .event-info p {
          font-size: 13px; }
    .main-content .page-wrapper .tab-slider {
      padding-top: 50px;
      background-color: #eeeeee; }
      @media (max-width: 480px) {
        .main-content .page-wrapper .tab-slider {
          padding: 0; } }
      .main-content .page-wrapper .tab-slider .tab-slider__discussion {
        background-color: white;
        border-top: 5px solid #121821;
        padding-bottom: 25px;
        padding: 10px 13px;
        margin: 0 0 0 22px; }
        @media (max-width: 480px) {
          .main-content .page-wrapper .tab-slider .tab-slider__discussion {
            margin: 3px; } }
        .main-content .page-wrapper .tab-slider .tab-slider__discussion .discussion-item h3 {
          padding: 3px 0 15px;
          border-bottom: 1px solid #ababab;
          margin-bottom: 10px; }
        .main-content .page-wrapper .tab-slider .tab-slider__discussion .discussion-item .item-description {
          color: #121821;
          font-weight: 700;
          font-size: 15px;
          line-height: 1.6;
          padding-top: 5px; }
        .main-content .page-wrapper .tab-slider .tab-slider__discussion .item-date {
          background-color: #192433;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 13px;
          display: flex;
          justify-content: center;
          padding: 5px 0;
          letter-spacing: -0.05em;
          margin: 18px 0 3px; }
          .main-content .page-wrapper .tab-slider .tab-slider__discussion .item-date span {
            color: #36a11b; }
            .main-content .page-wrapper .tab-slider .tab-slider__discussion .item-date span i {
              padding: 0 4px; }
      .main-content .page-wrapper .tab-slider .tabs-bg {
        background-color: #262e40; }
        .main-content .page-wrapper .tab-slider .tabs-bg .tabs {
          background-color: #121821;
          font-size: 15px;
          font-weight: 700; }
          .main-content .page-wrapper .tab-slider .tabs-bg .tabs li span {
            padding: 10px; }
          .main-content .page-wrapper .tab-slider .tabs-bg .tabs li.is-active a {
            color: #1affff;
            border-bottom-color: #1affff; }
        .main-content .page-wrapper .tab-slider .tabs-bg .tab-content {
          padding: 40px 10px; }
          .main-content .page-wrapper .tab-slider .tabs-bg .tab-content h3 {
            font-size: 13px;
            text-transform: lowercase;
            padding: 10px 5px;
            color: #e6e6e6; }
          .main-content .page-wrapper .tab-slider .tabs-bg .tab-content .item {
            background-color: #151d28;
            padding-bottom: 10px;
            width: 100%; }
            .main-content .page-wrapper .tab-slider .tabs-bg .tab-content .item .author {
              font-size: 12px;
              padding-left: 5px; }
            .main-content .page-wrapper .tab-slider .tabs-bg .tab-content .item .view {
              font-size: 11px; }
    .main-content .page-wrapper .tag-trending {
      background-color: #192433;
      margin: 10px 0px 10px 25px; }
      @media (max-width: 480px) {
        .main-content .page-wrapper .tag-trending {
          margin: 5px 3px; } }
      .main-content .page-wrapper .tag-trending h3 {
        padding: 8px;
        color: #1affff;
        background-color: #1a1a1a; }
      .main-content .page-wrapper .tag-trending .tag-trending-content {
        padding: 15px; }
        .main-content .page-wrapper .tag-trending .tag-trending-content .tag-trending-item {
          position: relative; }
          .main-content .page-wrapper .tag-trending .tag-trending-content .tag-trending-item .tag-hot {
            position: absolute;
            bottom: 12%;
            left: 5%;
            padding: 5px;
            background-color: red;
            background-image: linear-gradient(-135deg, #17EAD9 0%, #6078EA 100%);
            color: white;
            font-weight: 700;
            font-size: 20px; }
          .main-content .page-wrapper .tag-trending .tag-trending-content .tag-trending-item img {
            width: 100%; }
    .main-content .page-wrapper .trending .trending-main-wrap {
      background-color: white;
      padding: 20px 25px; }
      .main-content .page-wrapper .trending .trending-main-wrap img {
        width: 100%;
        height: auto; }
      .main-content .page-wrapper .trending .trending-main-wrap h3 {
        padding-bottom: 20px; }
      .main-content .page-wrapper .trending .trending-main-wrap .wrap-item {
        margin-top: 13px;
        background-color: #192433; }
        @media (max-width: 480px) {
          .main-content .page-wrapper .trending .trending-main-wrap .wrap-item {
            margin: 5px 3px; } }
        .main-content .page-wrapper .trending .trending-main-wrap .wrap-item a {
          display: block; }
          .main-content .page-wrapper .trending .trending-main-wrap .wrap-item a h4 {
            z-index: 12;
            background-color: #2d4e7b;
            width: 90%;
            height: 43px;
            text-align: center;
            transform: translateY(-60%);
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            color: white; }
        .main-content .page-wrapper .trending .trending-main-wrap .wrap-item .list-comment {
          padding: 15px; }
          .main-content .page-wrapper .trending .trending-main-wrap .wrap-item .list-comment li {
            border-bottom: 0.5px solid #e6e6e6;
            padding: 15px 0; }
            .main-content .page-wrapper .trending .trending-main-wrap .wrap-item .list-comment li a {
              font-size: 13px;
              line-height: 1.5;
              letter-spacing: 0.05em;
              color: #e6e6e6; }
              .main-content .page-wrapper .trending .trending-main-wrap .wrap-item .list-comment li a:hover {
                color: #1affff; }
          .main-content .page-wrapper .trending .trending-main-wrap .wrap-item .list-comment li:first-child {
            font-weight: 700; }
            .main-content .page-wrapper .trending .trending-main-wrap .wrap-item .list-comment li:first-child a {
              color: #ababab; }
              .main-content .page-wrapper .trending .trending-main-wrap .wrap-item .list-comment li:first-child a:hover {
                color: #1affff; }

/* footer */
.footer-home .top-footer {
  background-color: #151d28;
  padding: 0 10px; }
  .footer-home .top-footer ul {
    display: flex; }
    @media (max-width: 480px) {
      .footer-home .top-footer ul {
        display: block; } }
    .footer-home .top-footer ul li {
      padding: 20px; }
      @media (max-width: 480px) {
        .footer-home .top-footer ul li {
          list-style: none;
          padding: 0;
          text-align: center; } }
      .footer-home .top-footer ul li a {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase; }
        @media (max-width: 480px) {
          .footer-home .top-footer ul li a {
            font-size: 13px; } }
    .footer-home .top-footer ul li:first-child {
      padding-left: 0; }

.footer-home .midium-footer {
  background-color: #192433;
  padding: 20px 10px; }
  .footer-home .midium-footer h6 {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 15px 0; }
  .footer-home .midium-footer a {
    color: #ababab;
    font-size: 13px; }
    .footer-home .midium-footer a i {
      padding-right: 5px;
      font-size: 17px; }
    .footer-home .midium-footer a:hover {
      text-decoration: underline;
      color: white; }

.footer-home .bottom-footer {
  background-color: #192433;
  border-top: 2px solid #151d28;
  font-size: 11px;
  color: #ababab;
  padding: 10px 10px;
  text-align: center;
  padding-bottom: 20px; }
  .footer-home .bottom-footer .info-footer {
    display: flex;
    justify-content: center; }
    .footer-home .bottom-footer .info-footer p {
      padding: 10px; }

/* Vendors */
