body {
	font-family: 'Roboto',sans-serif;	
	color: $color__body;
	line-height: 1.25;
	background-color: #f7f7f7;
}
a {
	color: $color__link;
}
a:visited {

}
a:hover,
a:active {
	color: $color__link-hover;
	outline: 0;
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: underline;
}

h3{
	text-transform: uppercase;
	padding-bottom: 24px;
	font-weight: 700;
}
img {
	height: auto;
	max-width: 100%;
	position: relative;
}
figure {
	margin: 0;
}